%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :郵便番号
    %br/
    = f.text_field :postal_code
  .field
    = f.label :prefecture_id
    %br/
    = f.collection_select :prefecture_id, Prefecture.all, :id, :name
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :apartment
    %br/
    = f.text_field :apartment
  .field
    = f.label :last_name_kana
    %br/
    = f.text_field :last_name_kana
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :tel
    %br/
    = f.text_field :tel
 
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
