.header
  .header_search
    .header_search_logo
      = image_tag '/material/logo/logo.png', class: "header_search_logo"
    .header_search_form
      aaaaaaaaaaaaaaaaaaaaaaa
      .header_search_form_submit
        = image_tag "/material/icon/icon-search 1.png", class: "header_search_form_submit_icon"
  .header_link
    .header_link_left
      .header_link_left_category
        カテゴリー
        .header_link_left_category_lists
          - @categories.each do |category|
            .header_link_left_category_lists_name
              = category.name
              %br/
      .header_link_left_brand
        ブランド
    .header_link_right
      - if user_signed_in?
        .header_link_right_logout
          = link_to "#{current_user.nickname}さん", "/users/#{current_user.id}"
          = link_to destroy_user_session_path, method: :delete, class: "header_link_right_logout" do
            ログアウト
      - else
        .header_link_right_login
          = link_to new_user_session_path, class: "header_link_right_login" do
            ログイン
        .header_link_right_signup
          = link_to new_user_registration_path, class: "header_link_right_signup" do
            新規会員登録





.edit
  = form_for @user do |f|
    .edit__nickname
    %div
    = f.label :nickname
    = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"size nickname_size"
    .edit__last_name_kana
    %div
    = f.label :名字（ふりがな）
    = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class:"size last_name_kana_size"
    .edit__last_name
    %div
    = f.label :名字
    = f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"size last_name_size"
    .edit__first_name_kana
    %div
    = f.label :名前（ふりがな）
    = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class:"size first_name_kana_size"
    .edit__first_name
    %div
    = f.label :名前
    = f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"size"
    .edit__birthday
    %div
    = f.label :生年月日
    = f.text_field :birthday, autofocus: true, autocomplete: "birthday", class:"size birthday_size"
    .edit__email
    %div
    = f.label :メールアドレス
    = f.text_field :email, autofocus: true, autocomplete: "email", class:"size email_size"
    .edit__password
    %div
    = f.label :パスワード
    = f.text_field :password, autofocus: true, autocomplete: "password", placeholder:"半角７文字以上", class:"size password_size"
    .edit__submit
      = f.submit "変更する", class:"actions__b"


  -# = f.label :password
  -# = f.text_field :password, autocomplete: "new-password", placeholder:"半角７文字以上", class:"size"

  -# = f.submit "変更する", class:"actions__b"



































-# .section
-#   .registration
-#     = form_for @user do |f|
-#       .form-registration
-#         .form-registration__info
-#           .form-registration__title.sign_color
-#             ユーザー情報編集
-#           .field.sign_color
-#             = f.label :nickname
-#             .requir
-#               必須
-#             %br/
-#             = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"size"
-#           .field.sign_color
-#             = f.label :email
-#             .requir
-#               必須
-#             %br/
-#             = f.email_field :email, autofocus: true, autocomplete: "email", class:"size"
-#           .user-confirmation
-#             .user-confirmation__title.sign_color
-#               本人確認情報編集
-#               .confirmation-box
-#                 .confirmation-box__form
-#                   .field
-#                     = f.label :お名前
-#                     .requir
-#                       必須
-#                     %br/
-#                     = f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"名", class:"confi"
-#                   .field
-#                     = f.label :ふりがな
-#                     .requir
-#                       必須
-#                     %br/
-#                   .field
-#                     = f.label :生年月日
-#                     .requir
-#                       必須
-#                     %br/
-#         = f.submit "変更する", class:"actions__b"
